In [6]:
import pandas as pd
import numpy as np

In [34]:
df1 = pd.read_csv("Barack Obama.csv")
df2 = pd.read_csv("George W. Bush.csv")

In [4]:
shared_df = pd.merge(df1, df2, how='inner', on=['word'])
shared_df.head(5)

   Unnamed: 0_x word  count_x  Unnamed: 0_y  count_y
0             0  the       40             0       39
1             1   in       30             1       22
2             2  and       21             3       14
3             3   of       18             2       14
4             4   to       14             5       11

In [10]:
shared_words = np.unique(shared_df["word"])

In [13]:
len(shared_words)

86

In [11]:
a_all_words = np.unique(df1["word"])

In [14]:
len(a_all_words)

273

In [19]:
set(a_all_words) - set(shared_df)
len(set(a_all_words) - set(shared_df))

273

In [35]:
res = set(df1["word"]) - set(df2["word"])
len(set(df1["word"]) - set(df2["word"]))

6

In [72]:
def find(m,s1,s2):
    status = 0

    for w in m:
        if (w not in s1) or (w in s2):
            status = 1
    return status

In [76]:
find(res, df1["word"], df2["word"] )

1

In [70]:
res

{10, 11, 12, 13, 14, 15}

In [55]:
len(df2["word"])

8

In [65]:
df1["word"]

0    10
1    11
2    12
3    13
4    14
5    15
6     1
7     2
8     3
Name: word, dtype: int64

In [75]:
df2["word"]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: word, dtype: int64